################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntermediateCourse/FileContentIndex
/.vs/IntermediateCourse
/.vs/IntermediateCSharp/FileContentIndex
/.vs/ProjectEvaluation
/.vs
/AccessModifiers/bin/Debug/net6.0
/AccessModifiers/obj/Debug/net6.0
/AccessModifiers/obj/Release/net6.0
/AccessModifiers/obj
/Classes/obj/Release/net6.0
/Fields/obj/Release/net6.0
/Methods/obj/Release/net6.0
/Fields/bin/Debug/net6.0
/Fields/obj/Debug/net6.0/_IsIncrementalBuild
/Fields/obj/Debug/net6.0/Fields.csproj.FileListAbsolute.txt
/Fields/obj/Debug/net6.0/Fields.csproj.BuildWithSkipAnalyzers
